name: Deploy site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Flingern
        uses: actions/checkout@v4
        with:
          repository: CrociDB/flingern
          path: flingern

      - name: Checkout Website (this repo)
        uses: actions/checkout@v4
        with:
          path: flingern/website
          lfs: true

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build Site
        working-directory: flingern
        run: |
          nix-shell --run "uv run main.py build website/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: flingern/website/public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
